@import '~antd/dist/antd.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  background: #f0f2f5;
}

#header {
  background-color: #1d80be;
  float: left;
  font-weight: bold;
  font-size: 15px;
  color: white;
  line-height: 2.5;
  border-top: 4px solid #1d5c8f;
  border-bottom: 2px solid #d7d5d4;
}
.header-brand {
  font-weight: bold !important;
  font-size: 15px !important;
  color: white !important;
  line-height: 2.5 !important;
  padding-top: 10px !important;
}
.header-button {
  color: white !important;
  font-weight: bold !important;
  font-size: 12px !important;
}
.all-header-button {
  float: right;
  line-height: 2.5;
}
.divider {
  border-left: 1px solid lightgray !important;
}
.search-input {
  height: 30px !important;
  margin-left: 30px;
}
.search-button {
  height: 30px !important;
  width: 100px !important;
  align-self: center;
  font-weight: bold;
  font-size: 12px;
  padding-left: 20px;
  margin-left: -10px;
}
.search-div {
  display: flex;
  margin-left: 30px;
}
.searchbox-div {
  display: grid !important;
  font-size: 12px;
  color: #444;
  font-weight: bold;
}
.checkbox {
  align-self: center;
  font-weight: bold;
  font-size: 12px;
  margin-left: 10px;
}
.github {
  font-size: x-large;
  opacity: 0.15 !important;
  margin-left: 150px;
}
.footer-button {
  font-size: 12px !important;
}
.reserved {
  float: right;
  font-size: 13px;
  color: #999;
}
.all-results {
  margin-left: 20px;
  margin-right: 20px;
  min-height: 310px;
  font-size: 22px;
  color: #294455;
  border: 3px solid #ddd;
  font-weight: bold;
  background-color: white;
  height: 100%;
  min-height: calc(100vh-1px);
  text-size-adjust: 100%;
}
.main-job-results {
  font-size: 22px;
  color: #294455;
  border-top: none;
  font-weight: bold;
  background-color: white;
}
.content {
  background-color: white;
  font-size: 12px;
  padding-bottom: 82px !important;
}
.description {
  display: flex;
}
.result-right {
  margin-left: auto;
  margin-right: 40px;
  text-align: right;
}
.company-type {
  display: flex;
  font-weight: normal;
}
.company-title {
  font-weight: 400;
  padding-left: 50px;
  font-weight: bold;
}
.job-description {
  padding-left: 80px !important;
}
.side {
  color: #777 !important;
  border-color: #e5e4d7 !important;
  background-color: #fffeef !important;
  margin-right: 25px !important;
  font-weight: bold !important;
  border-color: #e5e4d7 !important;
  width: 300px;
}
.side-logo {
  color: #777 !important;
  border-color: #e5e4d7 !important;
  background-color: #fffeef !important;
  margin-right: 25px !important;
  font-weight: bold !important;
  border-color: #e5e4d7 !important;
  margin-top: 40px !important;
  width: 300px;
}
.button-arrow {
  padding-left: 30px;
  padding-top: 20px;
}
.type-company {
  padding-top: 30px;
  display: flex;
}
.title {
  margin: 15px 0 10px 0;
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #294455;
  border-bottom: 1px solid #ddd;
}

.image {
  width: 100%;
  margin: 0 auto;
  padding: 10px 28px 15px 4px;
  padding-left: 60px;
  min-height: 310px;
  width: 928px;
  align-self: center;
}
.all-support-page {
  height: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  background-color: white;
  text-size-adjust: 100%;
}
.git-support {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.quick-response {
  display: flex;
  flex-direction: column;
}
.input {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  color: #24292e;
  width: 600px;
}
